<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Database" 
         connectionString="Data Source=projectcp.database.windows.net;Initial Catalog=ProjectCP;User ID=projectcp;Password=Kidsileonard123@;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False "/>
  </connectionStrings>
</configuration>